/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.footer {
  position: fixed;
  height: 150px; /* put the image height here */
  bottom: 0;
}

.righty {
  position: fixed;
  right: -25px;
}
